// Custom Variables
//Fonts
$primary-font: 'Hind Vadodara',
sans-serif;
$secondary-font: 'Fira Sans',
sans-serif;
//Color pallate
$theme-color-a: #af46fc;
$theme-color-b: #f18cff;
$theme-color-c: #686de0;
$theme-color-d: #03A9F4;
$theme-color-e: #6245fe;
$theme-color-f: #9a9fff;
//Typography
$typo-color-a: #172b43;
$typo-color-b: #485768;
$typo-color-c: #69798d;
$typo-color-d: #a6d1ed;
$light-grey-bg-color: #fcfdff;
