$grey-color: #353b48;
$color_3: #ff7cb0;
$background-color_19: #2f3640;
$color_9: #ecf0f1;

.pragra-footer {
    position: relative;
    z-index: 6;
    overflow: hidden;
    background-color: $grey-color;
    .bg-shape {
        bottom: 7rem;
        opacity: 0.3;
    }
    .shape-footer-bottom {
        position: absolute;
        bottom: -80%;
        z-index: 0;
        right: -9%;
        opacity: 0.1;
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    .footer-nav-wrapper {
        position: relative;
        padding: 8.9rem 0 7.8rem;
        .social-icons {
            margin-top: 12.5rem;
            margin-bottom: 3rem;
        }
        h5 {
            font-weight: 400;
            margin-bottom: 2.1rem;
            color: #03A9F4;
        }
        .footer-nav {
            padding-left: 5rem;
        }
        .footer-menu {
            padding-left: 0;
            li {
                list-style: none;
                a {
                    line-height: 3.6rem;
                    color: $color_9;
                    text-decoration: none;
                    -webkit-transition: all .5s;
                    -o-transition: all .5s;
                    transition: all .5s;
                    &:hover {
                        color: $color_3;
                    }
                }
            }
            li.active {
                a {
                    color: $color_3;
                }
            }
        }
    }
    .footer-bottom {
        background-color: $background-color_19;
        padding: 30px 0;
        p {
            margin-bottom: 0;
            color: $color_9;
            position: relative;
            z-index: 8;
            a {
                text-decoration: none;
                -webkit-transition: all .5s;
                -o-transition: all .5s;
                transition: all .5s;
                color: $color_9;
                &:hover {
                    color: $color_3;
                }
            }
        }
        .social-icons {
            text-align: end;
        }
    }

}
.pragra-footer.shape-footer-top {
    position: absolute;
    top: -90%;
    z-index: 0;
    left: -8%;
    opacity: 0.1;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.footer-logo {
    img {
        max-width: 15rem;
    }
}
