/* -- Footer css
-------------------------------------- -- */

.page-footer {
    padding: 4rem 0;
}

.footer-content {
    p {
        margin-bottom: 0;
        a {
            color: $typo-color-c;
            text-decoration: none;
            transition: all .5s;
            &:hover {
                color: $theme-color-c;
            }
        }
    }
}

.pragra-footer {
    position: relative;
    z-index: 6;
    overflow: hidden;
    .shape-footer-top {
        position: absolute;
        top: -90%;
        z-index: 0;
        left: -8%;
        opacity: 0.1;
        transform: rotate(90deg);
    }
    .shape-footer-bottom {
        position: absolute;
        bottom: -80%;
        z-index: 0;
        right: -9%;
        opacity: 0.1;
        transform: rotate(90deg);
    }
    .footer-nav-wrapper {
        position: relative;
        padding: 8.9rem 0 7.8rem;
        .social-icons {
            margin-top: 12.5rem;
            margin-bottom: 3rem;
        }
        h5 {
            font-weight: 400;
            margin-bottom: 2.1rem;
        }
        .footer-nav {
            padding-left: 5rem;
        }
        .footer-menu {
            padding-left: 0;
            li {
                list-style: none;
                a {
                    line-height: 3.6rem;
                    color: $typo-color-c;
                    text-decoration: none;
                    transition: all .5s;
                    &:hover {
                        color: $theme-color-c;
                    }
                }
                &.active a {
                    color: $theme-color-c;
                }
            }
        }
    }
    .footer-bottom {
        background-color: #0e1f33;
        padding: 30px 0;
        p {
            margin-bottom: 0;
            color: $typo-color-c;
            position: relative;
            z-index: 8;
            a {
                text-decoration: none;
                transition: all .5s;
                color: $typo-color-c;
                &:hover {
                    color: $theme-color-c;
                }
            }
        }
    }
}

.footer-logo {
    img {
        max-width: 15rem;
    }
}
