<nav [ngClass]="{'scrolled':scrollClass===true}" class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="index.html">
            <img src="../../../content/images/logo.png" alt="Pragra" class="img-fluid">
        </a>
        <button class="jh-navbar-toggler d-lg-none float-right navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
            aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
            <span class="navbar-toggler-icon"></span>
            <span class="custom-toggler-icon bar1"></span>
            <span class="custom-toggler-icon bar2"></span>
            <span class="custom-toggler-icon bar3"></span>
        </button>
        <!-- End of .navbar-toggler -->

        <div class="collapse navbar-collapse" id="navbarNav" [ngbCollapse]="isNavbarCollapsed" [ngSwitch]="isAuthenticated()">
            <ul class="navbar-nav ml-md-auto typo-color-c align-items-center">
                <li class="nav-item dropdown pointer"  ngbDropdown>
                    <a class="nav-link"  href="javascript:void(0);" ngbDropdownToggle>
                        Services
                    </a>

                    <ul class="dropdown-menu" ngbDropdownMenu>
                        <li class="nav-item" ngbDropdownItem >
                            <a class="nav-link">Check 1</a>
                        </li>
                        <li class="nav-item" ngbDropdownItem >
                                <a class="nav-link">Check 1</a>
                            </li>
                        <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
                    </ul>
                    <!-- End of .custom-megamenu -->
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="pricing.html">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="portfolio.html">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="case-studies.html">Case Studies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about-us.html">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="team.html">Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="blog.html">Blog</a>
                </li>
                <li class="nav-item">
                    <a (click)="login()" class="nav-link custom-btn btn-mid grad-style-cd" data-toggle="modal"
                        data-target="#get-a-quote-modal">LOGIN</a>
                </li>
            </ul>
            <!-- End of .navbar-nav -->
        </div>
        <!-- End of .navbar-collapse -->
    </div>
    <!-- End of .container -->
</nav>

