<div class="card" >
    <img class="card-img-top" [src]="card.imgsrc" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">{{card.name}}</h5>
        <p class="card-text">{{card.description}}</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>
