<section class="services grad-style-cd">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                    <h3 class="text-center custom-heading">Services</h3>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 m-b-30">
                <a href="logo-and-branding.html" class="service-box text-center content-block">
                    <div class="box-bg grad-style-cd"></div>
                    <span class="icon-container grad-style-cd-light">
                        <i class="ml-des-62-Precision-compasses-graphics-design-tool-interface txt-grad-cd"></i>
                    </span>
                    <h5 class="text-center">Logo &amp; Branding</h5>
                    <p>Pellentesque sed pellentesque felis. Nam tristique ipsum eget magna scelerisque interdum.
                        Fusce at
                        lorem eget lacus congue tristique.</p>
                </a>
                <!-- End of .service-box -->
            </div>
            <!-- End of .col-md-4 -->

            <div class="col-lg-4 col-md-6 m-b-30">
                <a href="website-design.html" class="service-box text-center content-block">
                    <div class="box-bg grad-style-ab"></div>
                    <span class="icon-container grad-style-ab-light">
                        <i class="ml-des-57-upload-download-sync-application-device-mobile-computer txt-grad-ab"></i>
                    </span>
                    <h5 class="text-center">Website Development</h5>
                    <p>Donec eget ex quam. Aenean id convallis mi, vitae tincidunt leo. Ut bibendum, nunc eget
                        aliquet eleifend,
                        purus lacus lobortis.</p>
                </a>
                <!-- End of .service-box -->
            </div>
            <!-- End of .col-md-4 -->

            <div class="col-lg-4 col-md-6 m-b-30">
                <a href="mobile-app-development.html" class="service-box text-center content-block">
                    <div class="box-bg grad-style-ef"></div>
                    <span class="icon-container grad-style-ef-light">
                        <i class="ml-tec-45-responsive-mobile-phone-tablet-computer-desktop-monitor-laptop txt-grad-ef"></i>
                    </span>
                    <h5 class="text-center">Mobile App Development</h5>
                    <p>Morbi ullamcorper ipsum ipsum, ut dictum mi hendrerit sit amet. Aliquam tincidunt rhoncus
                        ligula,
                        vel porta ante pulvinar eget suspendisse.</p>
                </a>
                <!-- End of .service-box -->
            </div>
            <!-- End of .col-md-4 -->

            <div class="col-lg-4 col-md-6 m-b-30">
                <a href="search-engine-optimization.html" class="service-box text-center content-block">
                    <div class="box-bg grad-style-cd"></div>
                    <span class="icon-container grad-style-cd-light">
                        <i class="ml-tec-8-search-magnifier-computer-desktop-monitor-laptop txt-grad-cd"></i>
                    </span>
                    <h5 class="text-center">Search Engine Optimization</h5>
                    <p>Morbi ullamcorper ipsum ipsum, ut dictum mi hendrerit sit amet. Aliquam tincidunt rhoncus
                        ligula,
                        vel porta ante pulvinar eget suspendisse.</p>
                </a>
                <!-- End of .service-box -->
            </div>
            <!-- End of .col-md-4 -->

            <div class="col-lg-4 col-md-6 m-b-30">
                <a href="pay-per-click.html" class="service-box text-center content-block">
                    <div class="box-bg grad-style-ab"></div>
                    <span class="icon-container grad-style-ab-light">
                        <i class="ml-symtwo-34-cursor-click-browser-website-arrow-computer txt-grad-ab"></i>
                    </span>
                    <h5 class="text-center">Pay-Per-Click</h5>
                    <p>Donec eget ex quam. Aenean id convallis mi, vitae tincidunt leo. Ut bibendum, nunc eget
                        aliquet eleifend,
                        purus lacus lobortis.</p>
                </a>
                <!-- End of .service-box -->
            </div>
            <!-- End of .col-md-4 -->

            <div class="col-lg-4 col-md-6 m-b-30">
                <a href="social-media-marketing.html" class="service-box text-center content-block">
                    <div class="box-bg grad-style-ef"></div>
                    <span class="icon-container grad-style-ef-light">
                        <i class="ml-dat-63-database-computer-network-internet-globe-server txt-grad-ef"></i>
                    </span>
                    <h5 class="text-center">Social Media Marketing</h5>
                    <p>Morbi ullamcorper ipsum ipsum, ut dictum mi hendrerit sit amet. Aliquam tincidunt rhoncus
                        ligula,
                        vel porta ante pulvinar eget suspendisse.</p>
                </a>
                <!-- End of .service-box -->
            </div>
            <!-- End of .col-md-4 -->
        </div>
        <!-- End of .row -->
    </div>
    <!-- End of .container -->
</section>

